#main {
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  place-content: center;
}
#main .logo {
  width: 75vw;
  display: grid;
  gap: 40px;
  padding: 40px;
}
#main .logo .kiri {
  grid-template-columns: 2fr 1fr;
}
#main .logo .kanan {
  grid-template-columns: 1fr 2fr;
}
#main .logo .kiri, #main .logo .kanan {
  display: grid;
  gap: 40px;
  justify-content: space-between;
}
#main .logo .kiri .panjang, #main .logo .kanan .panjang {
  height: 440px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.11);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}
#main .logo .kiri .panjang img, #main .logo .kanan .panjang img {
  width: 100%;
  position: absolute;
}
#main .logo .kiri .kotak, #main .logo .kanan .kotak {
  height: 440px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.11);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}
#main .logo .kiri .kotak img, #main .logo .kanan .kotak img {
  width: 100%;
  position: absolute;
}
#main .logo .kiri .bg, #main .logo .kanan .bg {
  opacity: 0;
}
#main .panjang:hover .bg, #main .kotak:hover .bg {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  #main .logo {
    width: 80vw;
    gap: 20px;
    padding: 0px;
  }
  #main .logo .kiri {
    gap: 20px;
  }
  #main .logo .kiri .panjang {
    max-height: 280px;
  }
  #main .logo .kiri .kotak {
    max-height: 280px;
  }
  #main .logo .kanan {
    gap: 20px;
  }
  #main .logo .kanan .panjang {
    max-height: 280px;
  }
  #main .logo .kanan .kotak {
    max-height: 280px;
  }
}
@media screen and (max-width: 700px) {
  #main .panjang:hover .bg, #main .kotak:hover .bg {
    font-size: 1em;
  }
  #main .logo {
    width: 90vw;
    gap: 10px;
    padding: 0px;
  }
  #main .logo .kiri {
    gap: 10px;
  }
  #main .logo .kiri .panjang {
    max-height: 150px;
  }
  #main .logo .kiri .kotak {
    max-height: 150px;
  }
  #main .logo .kanan {
    gap: 10px;
  }
  #main .logo .kanan .panjang {
    max-height: 150px;
  }
  #main .logo .kanan .kotak {
    max-height: 150px;
  }
}
#homePage {
  height: 100vh;
  display: flex;
}
#homePage .coverCircle {
  width: 700px;
  position: absolute;
}
#homePage .coverRectangle #imgCoverTow {
  position: absolute;
  width: 300px;
  right: 0;
  top: 70vh;
}
#homePage .logoSanchang {
  margin: auto;
}
#homePage .logoSanchang #logoSanchangSVG {
  width: 750px;
}
#homePage .logoMRSCover {
  z-index: -9999;
}
#homePage .logoMRSCover #myLogo {
  width: 40vw;
}

@media screen and (max-width: 1300px) {
  #homePage .coverCircle {
    width: 550px;
  }
  #homePage .coverRectangle #imgCoverTow {
    width: 300px;
    top: 70vh;
  }
  #homePage .logoSanchang {
    margin: auto;
  }
  #homePage .logoSanchang #logoSanchangSVG {
    width: 500px;
  }
}
@media screen and (max-width: 700px) {
  #homePage .coverCircle {
    width: 90%;
  }
  #homePage .coverRectangle #imgCoverTow {
    width: 150px;
    top: 70vh;
  }
  #homePage .logoSanchang #logoSanchangSVG {
    width: 300px;
  }
}
footer {
  background-color: #101010;
  display: grid;
  justify-content: center;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
}
footer img {
  height: 30px;
}
footer .link {
  display: flex;
  justify-content: center;
}
footer .link .imgs {
  padding: 10px;
}
footer h6 {
  font-weight: 100;
  font-size: 14px;
}
footer h6 a {
  color: #129D69;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  footer img {
    height: 30px;
  }
}
.logoMRSCover {
  position: absolute;
}

.container {
  position: relative;
}/*# sourceMappingURL=style.css.map */