#homePage{
  height: 100vh;
  display: flex;
  .coverCircle{
    width: 700px;
    position: absolute;
    }
  .coverRectangle{
    #imgCoverTow{
      position: absolute;
      width: 300px;
      right: 0;
      top: 70vh;
    }
  }
  .logoSanchang{
    margin: auto;
    
    #logoSanchangSVG{
      width: 750px;
    }
  }
  .logoMRSCover{
    z-index: -9999;
    // margin-top: 864px;
    #myLogo{
      width: 40vw;
    }
  }
}
@media screen and (max-width: 1300px) {
  #homePage{
    .coverCircle{
      width: 550px;
      }
    .coverRectangle{
      #imgCoverTow{
        width: 300px;
        top: 70vh;
      }
    }
    .logoSanchang{
      margin: auto;
      #logoSanchangSVG{
        width: 500px;
      }
    }
  }
}


@media screen and (max-width: 700px) {
  #homePage{
    .coverCircle{
      width: 90%;
      }
    .coverRectangle{
      #imgCoverTow{
        width: 150px;
        top: 70vh;
      }
    }
    .logoSanchang{
      #logoSanchangSVG{
        width: 300px;
      }
    }
  }
}